.table-list {
  .header {
    display: flex;
    align-items: center;
    text-align: start;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: $--color-gray;
    border-bottom: 1px solid $--color-light-gray;

    &__item--actions {
      text-align: end;
      width: 8rem;
    }
  }

  .content {
    margin-top: 1rem;

    &__item {
      margin-bottom: 0.5rem;
    }

    .item {
      transition: all 250ms;
      padding: 0.5rem;
      border-radius: 0.4rem;
      color: $--color-gray;
      background: $--color-slight-blue;
      display: flex;
      align-items: center;

      &:hover {
        transition: all 250ms;
        background: $--color-info;
      }

      &__name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      &__type, &__tag {
        transition: all 250ms;
        font-size: 0.85rem;
        cursor: default;
        user-select: none;
        border-radius: 0.4rem;
        padding: 0.25rem 0.5rem;
        opacity: 0.8;

        &:hover {
          transition: all 250ms;
          opacity: 1;
        }
      }

      &__type {
        background: $--color-light-blue;
      }

      &__tag {
        background: $--color-light-green;
        color: $--color-input-field;
      }

      &__actions {
        text-align: end;
        width: 8rem;

        .button {
          display: inline;
          transition: all 250ms;
          padding: 0.5rem;
          border: none;
          border-radius: 0.4rem;
          background: transparent;
          font-size: 1.125rem;

          &--delete {
            color: $--color-danger;
            background: $--color-light-danger;

            &:hover {
              transition: all 250ms;
              background: $--color-danger;
              color: $--color-light-danger;
            }
          }

          &--edit {
            color: $--color-indigo;
            background: $--color-light-blue-gray;

            &:hover {
              transition: all 250ms;
              background: $--color-indigo;;
              color: $--color-light-blue-gray;
            }
          }
        }
      }
    }
  }
}