$--color-primary: #0D1821 !default;
$--color-success: #14C092 !default;
$--color-warning: #F57D20 !default;
$--color-danger: #C83986 !default;
$--color-info: #EEF3F5 !default;
$--color-light-danger: #F9EBF3 !default;
$--color-black: #000000;

$--color-input-field: #2d2d2d !default;

$--color-white: #fefefe !default;
$--color-gray: #707070 !default;
$--color-light-gray: #e2e8f0 !default;
$--color-light-blue: #D6E0E7 !default;
$--color-blue-gray: #adbfc5 !default;
$--color-light-blue-gray: #DFEAEF !default;
$--color-lighter-gray: #E5EBF0 !default;

$--color-xxl-button-border: #D4E5F2;
$--color-xxl-button-background: #DDF5EE;
$--color-medium-blue: #9ABEDA;
$--color-slight-blue: #FAFBFC;
$--color-medium-gray: #858585;
$--color-rose-danger: #F9E9F2;

$--color-powder: #F0F4EF;
$--color-pink: #E6AACE;
$--color-indigo: #344966;
$--color-light-green: #BFCC94;

// Breakpoints:
$--extra-extra-small-screen: 400px;
$--extra-small-screen: 575.9px;
$--small-screen: 767.9px;
$--medium-screen: 991.9px;
$--large-screen: 1199.9px;
$--extra-large-screen: 1399.9px;
$--extra-extra-large-screen: 1600px;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $--color-primary,
    ),
    'danger': (
      'base': $--color-danger,
    ),
    'error': (
      'base': $--color-danger,
    ),
    'success': (
      'base': $--color-success,
    ),
    'warning': (
      'base': $--color-warning,
    ),
    'info': (
      'base': $--color-info,
    ),
  )
);
