.button {
  border: none;
  background: $--color-white;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 250ms ease-in;

  &:hover {
    transition: all 250ms ease-in;
    background-color: $--color-light-blue;
  }

  &:disabled {
    cursor: not-allowed;
    color: $--color-blue-gray !important;
  }
}