.form {
  .el-form-item__label {
    font-weight: bold;
    font-size: 0.9rem !important;
    margin-bottom: 0 !important;
  }

  &__input {
    min-height: 3rem;
    font-size: 1rem;

    .el-input__wrapper {
      border-radius: 0.4rem;
    }
  }
}

.input {
  min-height: 3rem;
  font-size: 1rem;

  .el-input__wrapper {
    border-radius: 0.4rem;
  }
}

.input--radio {
  .el-radio-button__inner {
    padding: 0.95rem;
  }

  .is-active {
    .el-radio-button__inner {
      background: $--color-indigo;
    }
  }
}

.input--select {
  .el-select__wrapper {
    min-height: 3rem;
    font-size: 1rem;
  }

  .el-tag {
    font-size: 1rem;
    background: $--color-light-green;
  }

  .el-icon {
    font-size: 1.2rem;
  }
}

.el-popper {
  .el-tag {
    font-size: 1rem;
    background: $--color-light-green;
  }
}